<% layout('/layouts/boilerplate') -%>
<body>
    <div class="blood-camp">
        <div class="bankBtn">
     
            <a href="/bloodCampRegistration"><div class="bank-btn">blood camp registration</div></a>
        

        
            <a href="viewBloodCamp"><div class="bank-btn">View blood camps</div></a>
        </div>
    </div>
</body>