<% layout('/layouts/boilerplate') -%>
<body>
    <div class="blood_bank">
        
        
        <div class="bankBtn">
    
        <a href="/bloodBank/bloodBankRegistration" style="text-decoration: none;"><div class="bank-btn">Blood Bank registration</div> </a>
   
        <a href="/bloodBank/bloodBankSearch" style="text-decoration: none;"><div class="bank-btn">Serch for Blood Bank</div></a>
   
    </div>
</div>
</body>