<% layout('/layouts/boilerplate') -%>
<body>
    <div class="form-back col-10 offset-1">
    <div  class="col-8 offset-2" style="display: flex; flex-direction: column;  gap: 20px ;">
        <div class=" bank">
            
            
            <a href="/bloodBank/bloodBankRegistration" style="text-decoration: none; color: rgb(29, 24, 57);"><div class="bank-btns">Blood Bank registration</div></a>
       
    
       
            <a href="/bloodBank/bloodBankSearch" style="text-decoration: none; color: rgb(29, 24, 57);"> <div class="bank-btns">Search for Blood Bank</div></a>
        
    </div>


        <div class=" form" >
            <form action="/bloodBank/bloodBankRegistration" method="post">

               <h2>Blood bank Details</h2> 
        
                    <label for="bloodBankName">Blood Bank Name</label>
                    <input type="text" name="bloodBankName" id="bloodBankName" required class="form-control">
        
                    <label for="Category">Choose Category</label>
                    <select id="Category" name="Category" class="form-control">
                        <option value="">--Please choose Category--</option>
                        <option value="Governoment">Governoment</option>
                        <option value="Charitable">Charitable</option>
                        <option value="Private">Private</option>
                    </select>
        
                    <label for="phone-number">Phone number</label>
                    <input type="number" name="phone_number" id="phone-number" class="form-control">
        
                    <label for="Email">Email</label>
                    <input type="email" name="email" id="Email" class="form-control">
            
                    <label for="Licence No.">Licence Number</label>
                    <input type="text" name="Licence_No" id="Licence No." class="form-control">  
              
                
              <br>
        
                    <legend>Blood Bank Address</legend>
        
                    <label for="State">State</label>
                    <input type="text" name="State" id="State" required class="form-control">
        
                    <label for="District">District</label>
                    <input type="text" name="District" id="District" required class="form-control">
        
                    <label for="City">City</label>
                    <input type="text" name="City" id="City" required class="form-control">
        
            
                     <br>
        
            
                    <legend>Postal Address</legend>
        
                    <label for="Address1">Address</label>
                    <input type="text" name="Address" id="Address1" required class="form-control">
        
        
                    <label for="Pincode">Pincode</label>
                    <input type="text" name="Pincode" id="Pincode" required class="form-control">
                 <br>
               <div><button class="btn btn-dark">submit</button></div>
            </form>
        </div>
    </div>
</div>
    
</body>
    
