<% layout('/layouts/boilerplate') -%>
<body>
    <div class="donor-page">
       
        <div class="bankBtn">
    
            <a class="nav-link active" href="/donor"><div  class="home-btn">Donor Registration</div></a>
   
            <a class="nav-link active" href="findDonor"> <div class="home-btn">Search for Donor</div></a>
    
    </div>
</div>
</body>