<% layout('/layouts/boilerplate') -%>
<body>
    <div class="wrapper">
      <h1>Gallery</h1>
      <div class="container">
        <figure class="card">
          <img src="/photos/image10.jpg" />
        </figure>
        <figure class="card">
          <img src="/photos/image11.jpg" />
        </figure>
        <figure class="card">
          <img src="/photos/image12.jpg" />
        </figure>
        <figure class="card">
          <img src="/photos/image13.jpg" />
        </figure>
        <figure class="card">
          <img src="/photos/image14.jpg" />
        </figure>
        <figure class="card">
          <img src="/photos/image15.jpg" />
        </figure>
        <figure class="card">
          <img src="/photos/image16.jpg" />
        </figure>
        <figure class="card">
          <img src="/photos/image17.jpg" />
        </figure>
        <figure class="card">
          <img src="/photos/image18.jpg" />
        </figure>
        <figure class="card">
          <img src="/photos/image19.jpg" />
        </figure>
        <figure class="card">
          <img src="/photos/image20.jpg" />
        </figure>
        <figure class="card">
          <img src="/photos/image21.jpg" />
        </figure>
      </div>
    </div>
  </body>