
<% layout('/layouts/boilerplate') -%>

<body>
  <div class="home">
      <div class="home_btns">
         <a href="/findDonor" style="text-decoration: none;"><div class="home-btn">
            Search donor 
         </div></a>

         <a href="/bloodBank/bloodBankSearch" style="text-decoration: none;"><div class="home-btn">
            Search Blood Bank 
         </div></a>
      </div>
   </div>
   
</div>

</body>
