<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="../public/css/style.css">
<body>
    <div class="login-page">
        <div >
            <img src="/photos/Designer (11).jpeg" alt="">
             <form action="/signup" method="post" class="col-4 offset-4 login-form ">
                <h2>sign Up</h2>
                <div>
                    <input type="text" id="username" name="username" placeholder="Enter username" required class="form-control">
                </div>
                  <br>
                <div>
                    <input type="email" id="email" name="email" placeholder="Enter Email" required class="form-control">
                </div>
                 <br>
                <div>
                    <input type="password" id="password" name="password" placeholder="Enter Password" required class="form-control">
                </div>
                <br>

                <button class="btn req-btn">Sign Up</button>
        
            </form>
        </div>
    </div>
</body>
